@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: var(--font-geist-sans), system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  --font-poppins: 'Poppins', system-ui, sans-serif;
  --font-montserrat: 'Montserrat', system-ui, sans-serif;
  --font-bricolage: var(--font-bricolage-grotesque), system-ui, sans-serif;
}

.bg-grid {
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: 32px 32px; /* Adjust based on the spacing in your screenshot */
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-bricolage {
  font-family: var(--font-bricolage);
}
